body {
    background-color: #ededed;
}

.container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 80px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;
}

button {
    width: 160px;
    height: 40px;
    transition: all 0.03s;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    border-radius: 6px;

}

button:hover {
    scale: 1.1;
}

.active {
    background-color: #3b3b3b;
    color: white;
}

.grid {
    /* border-style: solid;
    border-width: 3px; */
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 18px 0px;
    width: 540px;
    height: 540px;
    /* margin: auto; */
    display: grid;
}

.cell {
    background-color: #fafafa;
}